div{
    border: 6px solid white ;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:white;
    position:absolute;
    left: 35%;
    top: 20%;
}
#bb{
    border: 6px solid white ;
    width: 900px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color:white;
    position:static;


    top: 20%;
}
body{
    background-image: linear-gradient(to right , rgb(49, 2, 124),white);
}

a{
 color:white;
    text-decoration: none;
}
input:hover{
    background-color:white;
}

input{
    border:1px solid cornflowerblue;
    background-color: white;
    color:black;
    width: 300px;
    border-bottom-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px ;
    height: 40px;
}
input[type=submit]{
    border:1px solid blue;
    background-color: rgb(49, 2, 124);
    color:white;
    width: 300px;
    height: 40px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
    border-top-left-radius: 0px;
    font-size: medium;
}
h1{
    color: rgb(49, 2, 124);
    text-shadow:3px 2px white;
}
input[type=submit]:hover
{
    background-color:red;
}
button{
    border:1px solid black;
    background-color: rgb(18, 174, 206);
    width: 300px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2x;
    height: 40px;
    color:white;
}
button:hover{
    background-color:rgb(3, 233, 3);

}
table{
    width:800px;
text-align: center;
}
th{
    background-color: rgb(138, 10, 223);
    height: 50px;
    color:white;
    
}
#kk{

    background-color: rgb(2, 17, 20);
    width: 100px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2x;
    height: 40px;
    border-right-color:5px solid yellow;
    color:white;
}
#kk:hover{
    background-color: red;
}