p{color:red;text-align:center;background:yellow;}

#para{color:white;text-align:left;background:blue;}

.right{color:blue;text-align:right;background:green;}

*{text-align:center;color:black;background:pink;}

