#p1 {
	font-size: 14px;
	font-family: Times, serif;
	color: blue;
	background-color: grey;
	
	
	}

h1 {
	font-size: 24px;
	font-family: Georgia, serif;
	color: green;
	background-color: blue;
	
	
	}

b.home {
	font-size: 34px;
	font-family: Garamond, serif;
	color: red;
	background-color: black;
	
	
	}

* {
 	font-size: 34px;
	font-family: Garamond, serif;
	color: black;
	background-color: green;
	
	}

h2,
